body {
  background-color: #f2f2f2;
  font-family: 'Proxima', 'Arial', sans-serif;
  min-width: 1024px;
  margin: 0px 0px 0px 0px;
  min-width: 1024px;
}
.list {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(34, 32, 32);
  display: flex;
  flex-direction: row;
}

.type-list {
  text-align: center;
  margin: 20px;
  height: auto;
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.type-list-right-menu {
  text-align: center;
  margin: 20px;
  height: auto;
  display: block;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  font-size: 13px;
}
.type-butten {
  font-size: 13px;
  font-weight: 600;
  background-color: #47b3ac;
  border-radius: 50px 50px 50px 50px;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.type-menu-2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  max-width: 1240px;
}
.list-menu-with-search {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  max-width: 1240px;
}
.sort-button {
  margin: 20px 15px 0px 0px;
  list-style: none;
  border: none;
  border-radius: 25px;
  padding: 4px;
}
.style-text-menu-2 {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
  font-weight: 600;
}
.active {
  border-bottom: 4px solid #47b3ac;
}
.all-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 1240px;
}

.card {
  margin: 15px;
  width: 280px;
  height: 440px;
  background: rgb(255, 255, 255);
  float: left;
  cursor: pointer;
}
.blog-size {
  padding: 11px 25px 25px;
  width: 230px;
  height: 125px;
}
.blog-name {
  color: #ec345e;
  font-weight: 600;
  font-size: 11px;
  margin-bottom: 7px;
  text-align: center;
}
.blog-text {
  font-weight: 600;
  font-size: 21.5px;
  text-align: center;
}
.end-of-page {
  background-image: url(img/7.jpg);
  display: inline-block;
  width: 100%;
  height: 290px;
  margin-top: 50px;
}
.ending-name {
  margin: 0px 465.5px 20px 465.5px;
  padding-top: 66px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}
.email-registr {
  margin: 0px 465.5px 0px 465.5px;
  width: 420px;
  height: 40px;
  background-color: #ffffff;
}
.text-after-email {
  margin: 17px 465.5px 0px 465.5px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
.end-list-page {
  background-color: #1c1c1c;
  padding: 55px 40px 56px 40px;
  width: auto;
  height: 100px;
}
.footer-text {
  margin-bottom: 27px;
  text-align: center;
}
.style-footer-text {
  font-size: 15px;
  margin: 15px;
  color: #ececec;
  font-weight: 600;
  cursor: pointer;
}
.link-info {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 670px;
}
.style-footer-text-2 {
  font-size: 14px;
  color: #888888;
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}
.card-status {
  margin-top: 10px;
  color: #a1a3a3;
  text-align: center;
  font-size: 13px;
  font-family: 'Proxima', 'Arial', sans-serif;
  font-weight: 600;
}
.form-control {
  border: 0px;
  padding: 0px;
  width: 380px;
  height: 36px;
}
.email-style-box {
  width: 420px;
  margin-right: auto;
  margin-left: auto;
  background: #ffffff;
}
.input-group-addon {
  color: rgb(140, 115, 180);
  position: absolute;
  margin-top: 2px;
  cursor: pointer;
}
.scale-of-menu {
  display: flex;
  justify-content: space-around;
}
.main-menu {
  background: #212121;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1240px;
}
.main-menu-butten-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.margin-butten {
  margin-top: 10px;
  margin-right: 10px;
}
.background-main-menu {
  background: #212121;
}
.icon-at-write-blog {
  position: absolute;
  margin-top: 20px;
  color: #ffffff;
  margin-right: 20px;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  height: 20px;
  color: #a1a3a3;
  margin: 20px 10px 0px 0px;
}
.search-butten {
  color: white;
  margin-top: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.hide {
  display: none;
}
.social-list {
  margin-top: 20px;
  text-align: center;
}
.social-link {
  margin-right: 30px;
  color: #bbb;
}
.newsletters-container{
  background-color: #212121;
  border-bottom:1px solid #2e2e2e;
  border-top:1px solid #2e2e2e;
}
.newsletters{
  display: flex;
  width: 915px;
  margin: 0 auto;
  padding-top: 37px;
  line-height: normal;
}
.newsletters-main__title{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.newsletters-main__article{
  width: 655px;
  margin: 15px 0 45px;
  margin-left: auto;
  margin-right: auto;
  font-family: PTSerif,serif;
  font-size: 16px;
  line-height: 1.44;
  text-align: center;
  color: #fff;
}
.all-mailing-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  background-color: #212121;
  border-bottom:1px solid #2e2e2e;
  border-top:1px solid #2e2e2e;
}
.newsletters-cards-plate-card-newsletters-cards-plate-card{
  margin: 10px;
  display: block;
  text-decoration: none;
  position: relative;
  width: 285px;
  height: 447px;
  box-sizing: border-box;
  padding: 34px 37px 40px 29px;
  border-radius: 10px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,.5);
  background-color: #FFF;
  color: #FFF;
  /* background-color: #ff406b; */
  float: left;
}
.newsletters-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.newsletter-title{
  width: 202px;
  margin-top: 15px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}
.newsletter-text{
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
}
.newsletter-button{
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  width: 155px;
  height: 40px;
  padding-top: 3px;
  border: 1px solid rgba(255,255,255,.7);
  border-radius: 22.5px;
  font-size: 16px;
  font-weight: 700;
  color: #FFF;
}
.newsletter-button-white{
font-weight: 600;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 40px;
width: 155px;
height: 40px;
padding-top: 3px;
border: 1px solid black;
border-radius: 22.5px;
font-size: 16px;
font-weight: 700;
color: black;
}
.b-author__cover-photo-image{
background-image: url(img/16.png);
width: 100%;
height: 273px;
  
}
.newslatter-color{
  margin: 10px;
  display: block;
  text-decoration: none;
  position: relative;
  width: 285px;
  height: 447px;
  box-sizing: border-box;
  padding: 34px 37px 40px 29px;
  border-radius: 10px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,.5);
  background-color: #FFF;
  color: #FFF;
  float: left;

}.b-author__author-info{
  width: 775px;
  margin-top: -68px;
}
.b-pb-author__image-container{
  position: relative;
  display: inline-block;
  width: 128px;
  height: 128px;
  max-width: 128px;
  max-height: 128px;
  margin: 0 auto;
  vertical-align: top;
  z-index: 102;
}
.b-pb-author__image{
box-sizing: content-box;
width: 100%;
height: 100%;
border: 3px solid #fff;
border-radius: 100%;
background-color: #fff;
}
.all-margin-poster-page{
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 1240px;
}
.b-pb-author__left-column{
  display: inline-block;
  width: 185px;
}
.b-pb-author__right-column{
  display: inline-block;
  /* width: 590px; */
  vertical-align: top;
}
.b-pb-author__name{
  font: 700 32px Proxima,sans-serif;
  display: inline-block;
  padding-top: 0;
  vertical-align: middle;
  margin-top: 10px;
}
.b-pb-author__quote{
  margin-top: 15px;
  font-size: 15px;
  font-family: PTSerif,sans-serif;
  font-weight: 400;
  line-height: 1.4;
  overflow: hidden;
}
.b-pb-author__subscribe-control{
  position: static;
  margin-top: 25px;
  display: inline-block;
}
.subscribe-button{
  font-size: 12px;
  background-color: #47b3ac;
  border-radius: 50px 50px 50px 50px;
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}
.b-author__border{
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}
.b-article-feed__article-preview{
  border-bottom: 1px solid #beb5b5;
  margin: 24px 0 30px;
  word-wrap: break-word;  
  display:flex;
}
.b-article-preview__info-section{
  display: inline-block;
  width: 210px;
  vertical-align: top;
}
.b-article-preview__publication-date-b-article-preview__publication-date_highlighted{
font-weight: 600;
font-size: 14px;
}
.b-article-preview__publication-time{
  font-size: 14px;
}
.b-article-preview__main-section{
  display: inline-block;
  width: 550px;
  vertical-align: top;
  width: 550px;
  height: 440px;
}
.b-article-preview__title{
  font-size: 22px;
  font-weight: 600;
}
.b-article-preview__cover-image{
  max-width: 450px;
  margin-top: 15px;
}
.b-article-preview__read-next{
  display: block;
  width: 105px;
  margin-top: 15px;
  margin-bottom: 20px;
  white-space: nowrap;
  text-decoration: none;
  color: #47B3AC;
  border-bottom: 1px solid #C1EDEA;
  font: 15px PTSerif,serif;
}
.end-list-poster-page{
  padding: 55px 40px 56px 40px;
  width: auto;
  height: 100px;
}
.b-sm-subheader__body{
  position: relative;
  z-index: 15;
  width: 1200px;
  height: 130px;
  margin: 0 auto;
}
.b-sm-subheader__logo-img{
  width: 227px;
  height: 130px;
}
.all-school-page-style{
  background-color: white;
}
.l-home-school__header{
  display: flex;
  justify-content: center;
  background-color: #f4f4ec;  
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.l-home-school__header-content{
  display: inline-block;
  box-sizing: border-box;
  width: 33.33%;
  padding-left: 20px;
  vertical-align: middle;
  line-height: normal;
  margin-top: 100px;
}
.l-home-school__title{
  display: inline-block;
  margin-bottom:25px;
  text-align: left;
  font-family: ProximaNova-Bold,sans-serif;
  font-size: 30.01px;
  line-height: 36px;
  font-weight: 600;
}
.l-home-school__title-list-item{
  position: relative;
  margin-bottom: 10px;
  font-family: 'PT Serif',serif;
  font-size: 16px;
  line-height: 22px;  
  list-style-type: none;
  display: contents;
}
.l-home-school__title-list{
  margin-bottom: 10px;
}
.i-control-b-search-panel-b-search-panel_stendhal-b-search-panel{
  box-sizing: border-box;
  padding: 0 40px;
  background-color: #f4f4ec;
}
.b-search-panel__content-wrap{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}
.b-search-panel__header{
  display: inline-block;
  box-sizing: border-box;
  width: 16.66%;
  margin-top: 14px;
  padding-right: 20px;
  vertical-align: top;
  letter-spacing: .06em;
  text-transform: uppercase;
  font: 16px ProximaNova-Extrabld,Arial,sans-serif;
  font-weight: 600;
}
.g-suggest-b-search-suggest{
  height: 45px;
  width: 600px;
}
.b-search-panel__button-wrap{
  display: inline-block;
  box-sizing: border-box;
  width: 380px;
  padding-left: 20px;
  text-align: center;
  vertical-align: top;
}
.b-search-panel__button{
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  margin-bottom: 14px;
  padding-top: 12px;
  cursor: pointer;
  text-align: center;
  color: #000;
  border: 4px solid;
}
.b-search-panel__button-text-b-search-panel__button-text_xl{
font-weight: 600;
}
.b-search-panel__content{
  display: flex;
  justify-content: space-between;
}
.registration-butten-position{
  display: flex;
  justify-content: center;
  font-weight: 600;
  border-bottom: 1px solid #1c1c1c32;
  height: 25px;
}
.b-auth-email__registration-button{
  height: 45px;
  cursor: default;
  color: #47B3AC;
  border-color: #47B3AC;
  background-color: inherit;
  border: 3px solid;
  font-weight: 600;
  cursor: pointer;
}
.registr-butten-style{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.b-auth-email__input-label{
  position: relative;
  top: -4px;
  left: 1px;
  text-align: left;
  line-height: 25px;
  height: 30px;
  margin-bottom: -10px;
}
.g-tab__content{
  font: 15px PTSerif,serif;
  margin-top: 30px;
}
.g-input__input{
  height: 25px;
  width: 227px;
}
.bottom-margin-input-lable{
margin-bottom: 10px;
}
.l-home-school__information-links-wrap{
  box-sizing: border-box;
  margin-bottom: 55px;
  padding: 0 40px;
  max-width: 1300px;
  margin: auto;
}
.l-home-school__popular-schools{
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  margin-top: 3px;
  padding-right: 15px;
}
.b-popular-schools__title{
  margin-bottom: 27px;
  margin-top: 15px;
  letter-spacing: .8px;
  text-transform: uppercase;
  font-family: ProximaNova-Extrabld,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.b-popular-schools__school-wrap-l-home-school__popular-school{
  box-sizing: border-box;
  width: 33.33%;
  margin: 0;
  padding: 0 10px;
}
.b-mark__mark{
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 22px;
  margin: auto;
  letter-spacing: .06em;
  line-height: 24px;
  text-align: center;
}
.b-mark__circle{
  position: relative;
  width: 52px;
  height: 52px;
  border: 4px solid #c6c6c1;
  border-radius: 50%;
  font-weight: 800;
  border-color: #0a0;
  text-align: center;
  font-size: 22px;
}
.b-popular-schools__school-rating{
  margin-bottom: 21px;
  color: #000;
  font-family: ProximaNova-Bold,Arial,sans-serif;
}
.b-popular-schools__school-name{
  display: inline-block;
  margin-bottom: 11px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-family: 'PT Serif',serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 21px;
}
.b-popular-schools__school-description{
  margin-bottom: 18px;
  font-family: Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.b-popular-schools_i-control_i-control_stendhal{
display: flex;
}
.l-home-school__school-catalog{
  display: inline-block;
  box-sizing: border-box;
  width: 16.66%;
  margin-top: 60px;
  padding-right: 10px;
  padding-left: 15px;
  vertical-align: top;
}
.b-school-catalog__title{
  margin-bottom: 15px;
  margin-top: 35px;
  font-family: 'PT Serif',sans-serif;
  font-size: 16px;
  font-weight: 800;
}
.b-school-catalog__text{
  font: 13px Arial,sans-serif;
  line-height: 18px;
}
